<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.mapper.CategoryMapper">

    <insert id="insertCategory" parameterType="com.yn.entity.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO categories (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <update id="updateCategory" parameterType="com.yn.entity.Category">
        UPDATE categories
        SET name = #{name}, description = #{description}
        WHERE id = #{id}
    </update>

    <select id="selectCategoryById" parameterType="long" resultType="com.yn.entity.Category">
        SELECT id, name, description
        FROM categories
        WHERE id = #{id}
    </select>

    <delete id="deleteCategory" parameterType="long">
        DELETE FROM categories
        WHERE id = #{id}
    </delete>

    <select id="selectAllCategories" resultType="com.yn.entity.Category">
        SELECT id, name, description
        FROM categories
    </select>

</mapper>