<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.mapper.FavoritesMapper">
    <insert id="insertCollection" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO favorites_collections 
        (user_id, name, description, is_public)
        VALUES (#{userId}, #{name}, #{description}, #{isPublic})
    </insert>

    <select id="selectByUserId" resultType="com.yn.entity.FavoritesCollection">
        SELECT * FROM favorites_collections 
        WHERE user_id = #{userId}
    </select>

    <insert id="insertFavorite">
        INSERT INTO favorites 
        (collection_id, post_id, user_id, created_at)
        VALUES (#{collectionId}, #{postId}, #{userId}, #{createdAt})
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM favorites 
        WHERE post_id = #{postId}
        AND user_id = #{userId}
    </delete>

    <select id="getCollectionOwnerId" resultType="java.lang.Long">
        SELECT user_id 
        FROM favorites_collections
        WHERE id = #{collectionId}
    </select>

    <select id="existsByPostAndUser" resultType="int">
        SELECT COUNT(*) FROM favorites
        WHERE post_id = #{postId} AND user_id = #{userId}
    </select>

    <select id="countByPostId" resultType="int">
        SELECT COUNT(*) FROM favorites
        WHERE post_id = #{postId}
    </select>

    <select id="countCollectionByCollectionId" resultType="int">
        SELECT COUNT(*) 
        FROM favorites
        WHERE collection_id = #{collectionId}
    </select>

    <select id="selectCollectionById" resultType="com.yn.entity.FavoritesCollection">
        SELECT * FROM favorites_collections
        WHERE id = #{collectionId}
    </select>

    <select id="selectPostIdsByCollectionId" resultType="java.lang.Long">
        SELECT post_id FROM favorites WHERE collection_id = #{collectionId}
    </select>

    <update id="updateCollectionName">
        UPDATE favorites_collections
        SET name = #{newName}
        WHERE id = #{collectionId}
    </update>

    <delete id="deleteCollection">
        DELETE FROM favorites_collections
        WHERE id = #{collectionId}
        AND user_id = #{userId}
    </delete>
</mapper>